body {
  margin: 0;
  color: var(--joy-palette-text-primary);
  font-family: var(--joy-fontFamily-body);
  font-size: var(--joy-fontSize-md);
  line-height: var(--joy-lineHeight-md);
  background-color: var(--joy-palette-background-body);
}
